%table.table-fill#bin
  %thead
    %tr
      %th BIN/IIN
      %th= @current.bin
  %tbody.table-hover
    %tr
      %td Brand
      %td= link_to @current.brand, "/?utf8=✓&search=#{@current.brand}"
    %tr
      %td Type
      %td= @current.typecard
    %tr
      %td Category
      %td= @current.category
    %tr
      %td Bank
      %td= @current.bank
    %tr
      %td Bank URL
      %td= @current.bankurl
    %tr
      %td Country
      %td= link_to @current.country, "/?utf8=✓&search=#{@current.country}"
    %tr
      %td Country Short
      %td= @current.cshort
    %tr
      %td Latitude
      %td= @current.latitude
    %tr
      %td Longitude
      %td= @current.longitude

#home-link= link_to "HOME", "/"
